.detailsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col{
    max-width: 280px;
    margin: 15px;
    height: 80%;
}

.movieImage{
    border-radius: 15px;
}

.movieDetails{
    font-size: 1.2rem;
}

.firstItem{
    margin-top: 0;
}